// Define SASS variables which emit the CSS variables from Django 3.2 with a default
// value for Django 2.2. Once support is dropped for Django 2.2, we can remove the
// defaults as Django itself defines these variables in `admin/css/base.css`.

$color-primary: var(--primary, #79aec8);
$color-secondary: var(--secondary, #417690);
$color-primary-fg: var(--primary-fg, #fff);

$color-header-link-color: var(--header-link-color, #{$color-primary-fg});

/* admin-index specific variables */
// default of 10px is the padding-bottom default of the header
$djai-tablist-spacing-top: var(--djai-tablist-spacing-top, 10px);

$djai-tab-bg: var(--djai-tab-bg, #4383a3);
$djai-tab-bg--active: var(--djai-tab-bg--active, #{$color-primary});
$djai-tab-bg--hover: var(--djai-tab-bg--hover, #{$color-primary});

$djai-dropdown-bg: var(--djai-dropdown-bg, #{$color-secondary});
$djai-dropdown-bg--active: var(--djai-dropdown-bg--active, #{$color-primary});
$djai-dropdown-bg--hover: var(--djai-dropdown-bg--hover, #{$color-primary});
$djai-dropdown-fg: var(--djai-dropdown-fg, #{$color-header-link-color});
