[bumpversion]
commit = False
tag = False
current_version = 1.3.1
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.dev(?P<dev>\d+))?
serialize = 
	{major}.{minor}.{patch}.dev{dev}
	{major}.{minor}.{patch}

[bumpversion:part:dev]

[bumpversion:file:README.rst]
search = :Version: {current_version}
replace = :Version: {new_version}

[bumpversion:file:package.json]
search = "version": "{current_version}",
replace = "version": "{new_version}",

[bumpversion:file:django_admin_index/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
