.DS_Store
*.pyc
*$py.class
*~
.*.sw[pon]
dist/
*.egg-info
*.egg
*.egg/
build/
.build/
_build/
pip-log.txt
.directory
erl_crash.dump
*.db
Documentation/
.tox/
.ropeproject/
.project
.pydevproject
.idea/
.coverage
reports/
.ve*
cover/
.vagrant/
*.sqlite3
.cache/
.parcel-cache/
htmlcov/
coverage.xml
env/
.vscode/
.eggs/
node_modules/
django_admin_index/static/admin/css/admin-index.js
django_admin_index/static/admin/css/admin-index.js.map
