/*
Django 2.2 specific fixes
 */
#content {
  position: relative;
  z-index: 1;
}

/*
Override some containers to make the sticky header work with Django.
 */
/* admin-index specific variables */
#container {
  min-height: 100%;
  height: auto;
}

#main {
  z-index: 1;
}

#header {
  z-index: 2;
}

#nav-sidebar {
  top: var(--djai-nav-sidebar-offset, 84px);
}

/*
The header is the container for our admin-index menu dropdown, which we make
visible at all times. For this, the header itself needs to receive a position fixes or
sticky so that it stays in view when scrolling down vertically.

If the header itself is sticky and the container for the dropdowns, we don't need to
mess with height offsets relative to the header/branding - which may not be pixel-
perfect because of font-rendering shenanigans.

We also stick to Django's flexbox model for the header and don't force it into a CSS
grid layout. (TODO: check on 2.2 what the CSS looks like).

TODO: future enhancement -> control position of header/admin menu via CSS var, so users
have the option to easily specify static/sticky positioning.
 */
#header {
  position: sticky;
  top: 0;
  overflow: visible;
}

/*
The dropdown menu is injected as a child into the header, which has a flexbox display
style (direction: row). This causes the menu to be on the same row as the branding and
user tools. However, we set the flex-basis to 100% to make it take up the full width
of the container and let the parent wrap.
 */
/* admin-index specific variables */
.djai-dropdown-menu {
  flex-basis: 100%;
  display: block;
  margin-top: var(--djai-tablist-spacing-top, 10px);
}
#header {
  flex-wrap: wrap;
  padding-bottom: 0;
}

.djai-dropdown-menu .djai-dropdown-menu__item {
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: var(--djai-tab-bg, #4383a3);
  cursor: pointer;
}
.djai-dropdown-menu .djai-dropdown-menu__item, .djai-dropdown-menu .djai-dropdown-menu__item:link, .djai-dropdown-menu .djai-dropdown-menu__item:visited {
  color: var(--primary-fg, #fff);
}
.djai-dropdown-menu .djai-dropdown-menu__item--active {
  background-color: var(--djai-tab-bg--active, var(--primary, #79aec8));
}
.djai-dropdown-menu .djai-dropdown-menu__item--active, .djai-dropdown-menu .djai-dropdown-menu__item--active:link, .djai-dropdown-menu .djai-dropdown-menu__item--active:visited {
  text-decoration: none;
}
.djai-dropdown-menu .djai-dropdown-menu__item:hover {
  background-color: var(--djai-tab-bg--hover, var(--primary, #79aec8));
}
.djai-dropdown-menu .djai-dropdown-menu__item:hover, .djai-dropdown-menu .djai-dropdown-menu__item:hover:link, .djai-dropdown-menu .djai-dropdown-menu__item:hover:visited {
  text-decoration: none !important;
}
.djai-dropdown-menu .djai-dropdown-menu__item:hover .djai-dropdown-menu__drop {
  display: block;
}
.djai-dropdown-menu .djai-dropdown-menu__drop {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 150px;
  z-index: 1;
  max-height: 75vh;
  overflow-y: auto;
  background-color: var(--djai-dropdown-bg, var(--secondary, #417690));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.djai-dropdown-menu .djai-dropdown-menu__drop-item {
  background-color: transparent;
}
.djai-dropdown-menu .djai-dropdown-menu__drop-item--active {
  background-color: var(--djai-dropdown-bg--active, var(--primary, #79aec8));
}
.djai-dropdown-menu .djai-dropdown-menu__drop-item:hover {
  background-color: var(--djai-dropdown-bg--hover, var(--primary, #79aec8));
}
#header .djai-dropdown-menu .djai-dropdown-menu__drop-item a, #header .djai-dropdown-menu .djai-dropdown-menu__drop-item a:link, #header .djai-dropdown-menu .djai-dropdown-menu__drop-item a:visited {
  color: var(--djai-dropdown-fg, var(--header-link-color, var(--primary-fg, #fff)));
}
#header .djai-dropdown-menu .djai-dropdown-menu__drop-item a:hover {
  text-decoration: none;
}

.djai-dropdown-menu .djai-dropdown-menu__link {
  display: block;
  padding: 10px;
}

/*# sourceMappingURL=/admin-index.css.map */