/*
The dropdown menu is injected as a child into the header, which has a flexbox display
style (direction: row). This causes the menu to be on the same row as the branding and
user tools. However, we set the flex-basis to 100% to make it take up the full width
of the container and let the parent wrap.
 */
@import '../vars';

$djai-block: 'djai-dropdown-menu';


.#{$djai-block} {
    // position it properly in the header as a separate row
    @at-root #header {
        flex-wrap: wrap;
        // remove the padding at the bottom so our dropdown items line up
        padding-bottom: 0;
    }
    flex-basis: 100%;

    // own layout
    position: relative; // container for absolutely positioned child elements
    display: block;
    margin-top: $djai-dropdown-menu-spacing-top;

    &__item,
    &__item:link,
    &__item:visited {
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 10px;
        position: relative;
        z-index: 50;
        background-color: #4383a3;

        &.#{$djai-block}__item--active {
            background-color: #79aec8;
            text-decoration: none;
        }

        &:hover {
            background-color: #79aec8;
            text-decoration: none !important;

            &__drop {
                display: block;
            }
        }
    }

    &__drop {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: #417690;
        min-width: 150px;
        z-index: 50;
    }

    &__link,
    &__link:link,
    &__link:visited {
        color: #fff;
        display: block;
        padding: 10px;

        &:hover {
            background-color: #79aec8;
            text-decoration: none !important;
        }

        &.#{$djai-block}__link--active {
            background-color: #79aec8;
            text-decoration: none;
        }
    }
}
